rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Helper functions
    function isAuthenticated() {
      return request.auth != null;
    }

    match /artifacts/{appId}/public/data/notes/{noteId} {
      allow read: if true;
      allow write: if isAuthenticated();
    }

    match /artifacts/{appId}/public/data/folders/{folderId} {
      allow read: if true;
      allow write: if isAuthenticated();
    }
  }
}
